body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
  color: #555555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  text-decoration: none;
}

.breadcrumb {
  background-color: inherit;
}
/* .nav-link {
  color: #e7e7e7;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
} */
