body {
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafd;
}

.side-menu {
  color: #949494;
}

.side-menu:hover {
  color: #b1b1b1;
}

.side-menu.active {
  color: #e2e2e2;
}

a:link {
  text-decoration: none;
}

.breadcrumb {
  background-color: inherit;
}

.overlay {
  z-index: 1000;
}
